*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

html{
    font-size: 62.5%;
}
body{
    background-color: rgb(124, 122, 120);
    color: #ffff;

}
 h3{
    text-align: center;
    padding: 3rem 0;
    font-size: 3rem;
    color: blue;
    text-transform:capitalize,
    
}

p{
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

.product{
    color: red;
    font-size: 3rem;
    text-align: center;
}